@model BusinessLayer.Business.Model.Student.StudentResp;
@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Manage" asp-controller="Student" method="post">
    <div class="row">
        <div class="form-floating">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="FullName" placeholder="Full Name">
                <label for="floatingInput">Full Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="Address" placeholder="Address">
                <label for="floatingInput">Address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="PhoneNo" placeholder="Mobileno">
                <label for="floatingInput">Mobile no</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" asp-for="Gender" asp-items="@Model.GenderList" aria-label="Floating label select example">
                    <option value="">Please Select Gender</option>
                </select>
                <label for="floatingSelect">Gender</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" asp-for="Semster" asp-items="@Model.SemesterList" aria-label="Floating label select example">
                    <option value="">Please Select Semester</option>
                </select>
                <label for="floatingSelect">Semester</label>
            </div>

        </div>
        <input type="hidden" asp-for="RowId" value="@Model.RowId" />
        <div class="mb-3">
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
    </div>
</form>


